extends layout

block content
  h1= title
  p
    input(type='text', name='uname', class='uname')
    button(class='login') Log In
  p Want to know me? Visit my <a href="https://github.com/jiujieti">Github</a> page.
