extends layout

block content
  h1= 'To Do List - 未竟的事业'
  p
    form(action='/login/todolist', method='POST', class='login')
      div
        input(type='text', name='username')
        input(type='text', name='password')
        button Log In
  p
    form(action='/signup', method='GET', class='signup')
      button Sign Up
  p Want to know me? Visit my <a href="https://github.com/jiujieti">Github</a> page.