extends layout

block content
  h1= 'Sign Up - 注册'
  p
    form(action='/signup/verification', method='POST', class='signup')
      div
        input(type='text', name='username')
        input(type='text', name='password')
        input(type='text', name='pdconfirm')
        button Sign Up
  p #{error}