h1 {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  color: goldenrod;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  color: goldenrod;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 15px;
  shape-outside: cross-fade(); 
}
